.images {
  width: 100%;
}

.container {
  width: 80%
}

.panel-body {
  padding: 0;
}

.panel-footer {
  font-style: italic;
}

.glyphicon {
  font-size: 24px;
  cursor: pointer;
}

#footer {
  width: 100%;
  margin: 0;
  background-color: #606568;
  color: white;
  text-align: center;
}

#footer span {
  font-size: 30px;
  font-weight: bold;
}

#footer ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0
}

#footer a {
  color: white;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}

#footer li {
  display: inline-block;
}

#form-container {
  height: 290px;
  margin: 0;
  background-color: #02C39A;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

#submit-form {margin-left: 10px}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}

#thank-you {
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.navbar-default {
  background-color: #606568;
  border: 0;
}

.navbar-default .navbar-brand { color: white }
