
#mask {
  overflow: hidden;
  height: 610px;
  max-height: 100%;
}

#slider {
  overflow: visible;
  position: relative;
}

#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
  height: 610px;
  width: 100%;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  right: -925px; /* Original Position - Outside of the Slider */
  list-style: none;
}

#slider li.firstanimation {
   animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}
#slider li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}
@keyframes cycle {
   0%  { right: 0px; } /* When you start the slide, the first image is already visible */
   4%  { right: 0px; } /* Original Position */
   16% { right: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { right: 925px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { right: -925px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { right: -925px; opacity: 0; z-index: 0; }
   96% { right: -925px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ right: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { right: -925px; opacity: 0; } /* Original Position */
   16% { right: -925px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { right: 0px; opacity: 1; }
   24% { right: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { right: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { right: 925px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { right: -925px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ right: -925px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { right: -925px; opacity: 0; }
   36% { right: -925px; opacity: 0; }
   40% { right: 0px; opacity: 1; }
   44% { right: 0px; opacity: 1; }
   56% { right: 0px; opacity: 1; }
   60% { right: 925px; opacity: 0; z-index: 0; }
   61% { right: -925px; opacity: 0; z-index: -1; }
   100%{ right: -925px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { right: -925px; opacity: 0; }
   56% { right: -925px; opacity: 0; }
   60% { right: 0px; opacity: 1; }
   64% { right: 0px; opacity: 1; }
   76% { right: 0px; opacity: 1; z-index: 0; }
   80% { right: 925px; opacity: 0; z-index: 0; }
   81% { right: -925px; opacity: 0; z-index: -1; }
   100%{ right: -925px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { right: -925px; opacity: 0; }
   76% { right: -925px; opacity: 0; }
   80% { right: 0px; opacity: 1; }
   84% { right: 0px; opacity: 1; }
   96% { right: 0px; opacity: 1; z-index: 0; }
   100%{ right: 925px; opacity: 0; z-index: 0; }
}
