/*.like {
  bottom: 50px;
  z-index: 1;
  position: absolute;
}*/


.slides {
  opacity: 0;
  bottom: 0;
  position: absolute;
}

.panel-body {
  background-color: black;
  padding-right: 50px;
  padding-left: 50px;
  max-height: 100%;
}
/*#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
  height: 610px;
  width: 847px;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  right: -925px; Original Position - Outside of the Slider
  list-style: none;
}*/
